# Nuxt.js build directory
/.nuxt/

# Node.js/Yarn dependencies
/node_modules/

# Yarn cache
/.yarn-cache2/

# IntelliJ IDEA
/*.iml
/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/inspectionProfiles/

# macOS
.DS_Store

# playground
/tmp/
