# Build directory
/public/

# Node.js/Yarn dependencies
/node_modules/

# IntelliJ IDEA
/*.iml
/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/inspectionProfiles/

# macOS
.DS_Store

# playground
/tmp/
