---
layout: compress
---

<!DOCTYPE html>
<html lang="pl-PL">

{% include head.html %}

<body style="background-color: rgb(255, 255, 255)">
<script src="{{site.baseurl}}/js/theme.min.js"></script>
<header>
    <a href="{{site.baseurl}}/">
        <div class="home"></div>
    </a>
</header>

{{ content }}

<footer>

    <div class="links">
        <a href="{{site.baseurl}}/about/">About</a>
        <a href="{{site.baseurl}}/contact/">Contact</a>
    </div>
    <div class="theme" onclick="theme()" style="    background-image: url({{site.baseurl}}/images/theme.svg)"></div>
</footer>
{% include analytics.html %}

</body>
</html>
