em {
    font-style: normal;
    font-weight: 600;
}

strong {
    font-style: normal;
    font-weight: 900;
}

.post__image {

    /* separate images with whit background from white background of the site */
    border: 1px solid #60c17d;

    /* do not allow vertical images to take too much space */
    max-height: 600px;

    /* center this element inside <p> */
    display: block;
    margin-right: auto;
    margin-left: auto;

    /* gap between elements */
    margin-top: 1em;
    margin-bottom: 1em;
}

.posts_list .posts_list__post_title {
    margin-bottom: 0.3em;
}

.post-headline {
    font-size: 2.4em;
}